:root {
  --crew-top-title-font-size: 19px;
  --crew-title-number-color: #8080807e;
  --crew-planet-buttons-font-size: 19px;
  --crew-soft-blue: #d0d6f9;
  --crew-dot-size: 10px;
  --crew-planet-name-font-size: 34px;
  --crew-para-padding: 30px;
  --crew-para-font-size: 16px;
}
.crew-right-container {
  display: none;
}
.crew-total-content-crew {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding-top: 120px;
}
.crew-desktop-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.crew-desktop-left > h1 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 2.5em;
  font-size: var(--crew-top-title-font-size);
}
.crew-desktop-left > h1 > span {
  margin-right: 1em;
  font-weight: 700;
  color: var(--crew-title-number-color);
  font-size: var(--crew-top-title-font-size);
}
.crew-top-container {
  border-bottom: 1px solid #d0d6f941;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crew-image-container {
  height: max-content;
  width: 65%;
}
.crew-image-container > img {
  width: 100%;
  height: 100%;
}
.crew-btns-container {
  margin-top: 8vw;
}
.crew-btns-container > ul {
  text-transform: uppercase;
  list-style: none;
  color: #d0d6f9;
  font-size: var(--crew-planet-buttons-font-size);
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.crew-btns-container > ul > li {
  letter-spacing: 0.05em;
  cursor: pointer;
  padding: 0px 0.95em;
}
.crew-btns-container > ul > li > input {
  position: absolute;
  top: -20px;
  appearance: none;
}
.crew-btns-container > ul > li > p {
  height: var(--crew-dot-size);
  border-radius: 50%;
  background-color: rgb(109, 109, 109);
  aspect-ratio: 1/1;
  transition: 0.3s;
  padding-bottom: 0.5em;
}
.crew-btns-container > ul > li > input:checked ~ p {
  background-color: white;
}
.crew-text-container {
  padding: 2.5em 0px;
  margin: 0px var(--crew-para-padding);
  text-align: center;
}
.crew-text-container > h1 {
  margin: 0px 0px 0.5em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: var(--crew-planet-name-font-size);
}
.crew-text-container > p {
  font-size: var(--crew-para-font-size);
  color: var(--crew-soft-blue);
  line-height: 1.5em;
  letter-spacing: 0.025em;
}
.crew-text-container > h4 {
  font-size: var(--crew-top-title-font-size);
  color: var(--crew-soft-blue);
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.125em;
}

@media (min-width: 768px) {
  :root {
    --crew-para-padding: 100px;
    --crew-h1-left-margin: 75px;
  }
  .crew-total-content-crew {
    padding-top: 170px;
  }
  .crew-desktop-left > h1 {
    align-self: flex-start;
    margin-left: var(--crew-h1-left-margin);
  }
  .crew-text-container {
    order: 0;
  }
  .crew-btns-container {
    margin-bottom: 80px;
    order: 1;
  }
  .crew-top-container {
    margin-top: auto;
    order: 2;
  }
  .crew-total-content-crew > h1 {
    margin-left: var(--crew-h1-left-margin);
    margin-bottom: 4em;
    width: 100%;
    text-align: start;
  }
  .crew-right-container {
    display: none;
  }
}
@media (min-width: 1201px) {
  :root {
    /* --top-title-font-size: 19px; */
    --crew-top-title-font-size: clamp(1.188rem, 0.42rem + 1.023vw, 2.875rem);
    /* --crew-planet-buttons-font-size: 19px; */
    --crew-planet-buttons-font-size: clamp(
      1.188rem,
      0.42rem + 1.023vw,
      2.875rem
    );
    --crew-soft-blue: #d0d6f9;
    /* --crew-planet-name-font-size: 34px; */
    --crew-planet-name-font-size: clamp(2.125rem, -0.321rem + 3.259vw, 7.5rem);
    /* --crew-stat-value-font-size: 34px; */
    --crew-stat-value-font-size: clamp(2.125rem, 0.987rem + 1.516vw, 4.625rem);
    /* --crew-para-font-size: 16px; */
    --crew-para-font-size: clamp(1rem, 0.545rem + 0.606vw, 2rem);
    --crew-para-padding: 0px;
    --crew-h1-left-margin: 0px;
    --crew-dot-size: clamp(0.625rem, 0.341rem + 0.379vw, 1.25rem);
  }
  .crew-total-content-crew {
    /* padding: 130px 90px 0px 50px; */
    padding: clamp(8.125rem, 4.001rem + 5.495vw, 17.188rem)
      clamp(5.625rem, 3.918rem + 2.274vw, 9.375rem) 0px
      clamp(3.125rem, 1.703rem + 1.895vw, 6.25rem);
    flex-direction: row;
    justify-content: space-evenly;
  }

  .crew-top-container {
    display: none;
    width: 60%;
  }
  .crew-btns-container {
    align-self: start;
    /* margin: 0px var(--crew-para-padding) 0px; */
    margin: clamp(0rem, -8.533rem + 11.368vw, 18.75rem) var(--crew-para-padding)
      0px;
  }
  .crew-btns-container > ul {
    justify-content: start;
  }
  .crew-btns-container > ul > li {
    margin-right: 1.85em;
    padding: 0px;
  }
  .crew-text-container {
    text-align: start;
  }
  .crew-desktop-left {
    padding-bottom: 100px;
    width: 50%;
  }
  .crew-right-container {
    margin-top: auto;
    border-bottom: 1px solid #d0d6f941;
    width: 40%;
    display: flex;
  }
  .crew-image-container {
    width: 100%;
    height: 100%;
  }
  .crew-image-container > img {
    width: 100%;
    height: 100%;
  }
}
